<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <form class="col s12" action="/auth/signup" method="post">
          <div class="row">
            <div class="input-field col s6">
              <input name="display-name" type="text" class="validate">
              <label for="display-name">Display Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password2" type="password" class="validate">
              <label for="password2">Confirm Password</label>
            </div>
          </div>
          <input type="submit" value="Signup">
        </form>
      </div>
    </div>
  </div>
</div>