<div class="container">
  <h3>Create Puzzle</h3>
  <div class="row">
    <form class="col s12" action="/puzzle/create" method="post">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="puzzleText" name="puzzleText" spellcheck="false"></textarea>
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>