<nav class='grey darken-3'>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center teal-text text-lighten-2">RegExXP</a>
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li><a href="/dashboard">Dashboard {{user.displayName}}</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{else}}
        <li><a href="/auth">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>