<div class="container">
  <h3>Regex Tester</h3>
  <div class="row">
    <form class="col s12" action="/auth/login" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input class="puzzleInput" type="text" name="puzzleInput" spellcheck="false">
          <label for="puzzleInput">Regex</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div class="puzzleTarget" name="puzzleTarget" spellcheck="false" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit elit nulla, id commodo nibh tempor eget. %3C &lt;mark&gt;this&lt;/mark&gt; < 

Donec turpis nulla, tempus in velit sit amet, fermentum egestas justo. Proin ut mollis sem, sit amet posuere libero. Duis eget orci blandit, malesuada velit sed, luctus sapien. <script> console.log('poop') </script>">
          </div>
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>