<div class="container">
  <h3>Regex Tester</h3>
  <div class="row">
    <form class="col s12" action="/auth/login" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="regexInput" type="text" name="regexInput" spellcheck="false">
          <label for="regexInput">Regex</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="regexTarget" name="regexTarget" spellcheck="false"></textarea>
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>