.spinner-appear {
  opacity: 0;
}
.spinner-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

/* .spinner-enter {
  opacity: 0;
}
.spinner-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.spinner-exit {
  opacity: 1;
}
.spinner-exit-active {
  opacity: 0;
  transition: opacity 500ms;
} */

.challenge-card-appear {
  opacity: 0;
  transform: scale(1, 0);
  height: 0;
}
.challenge-card-appear-active {
  opacity: 1;
  transform: scale(1, 1);
  height: 100%;
  transition: all 500ms;
}

.challenge-card-exit {
  opacity: 1;
}
.challenge-card-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
