*,
*:focus,
*:active,
*::before,
*::after {
  outline: none;
  border-radius: 0 !important;
}

:root {
  --primary: #ffc107;
  --secondary: #a04365;
  --light: rgb(254, 254, 254);
  --dark: #343a40;
  --muted: #676778;
  --highlight-primary: #ffc107;
  --highlight-secondary: rgba(0, 0, 0, 0.4);
  --spinner-color: var(--primary);
  /* --spinner-size: "aidfpoqiwe;"; */
}

html,
body {
  color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  background: var(--light);
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card,
.container {
  background: var(--light);
}

input,
textarea {
  background: white;
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link.nav-link,
footer {
  color: var(--light);
}

.btn.btn-default {
  background: var(--primary);
}

.btn.btn-secondary {
  background: var(--dark);
}

.form-control:focus {
  border-color: var(--secondary);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--secondary);
}

a,
a:hover,
a:active,
a:focus {
  color: var(--secondary);
}
