<h1>Index</h1>
<div class="container">
  <div class="row">
    <form class="col s12" action="/auth/login" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="regexInput" type="text" name="regexInput">
          <label for="regexInput">Regex</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="regexTarget" name="regexTarget"></textarea>
          <label for="regexTarget">Target Text</label>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>