.spinner-container {
  --size: var(--spinner-size, 5px);
}

.spinner-container * {
  box-sizing: border-box;
  border-width: var(--size);
  border-style: solid;
  border-color: transparent;
  border-left-color: var(--spinner-color, black);
  border-right-color: var(--spinner-color, black);
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  animation: container 3s infinite;
  width: calc(100% - var(--size));
  height: calc(100% - var(--size));
}

@keyframes container {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
